@charset "utf-8";
/*--------------------------------
rotation_04左回転
----------------------------------*/

.rotation_04 {
	-webkit-animation: rotation_04 25s linear infinite;
	-moz-animation: rotation_04 25s linear infinite;
	-ms-animation: rotation_04 25s linear infinite;
	-o-animation: rotation_04 25s linear infinite;
	animation: rotation_04 25s linear infinite;
}

@-webkit-keyframes rotation_04 {
	0% {-webkit-transform: rotate(360deg);}
	100% {-webkit-transform: rotate(0deg);}
}
@-moz-keyframes rotation_04 {
	0% {-moz-transform: rotate(360deg);}
	100% {-moz-transform: rotate(0deg);}
}
@-ms-keyframes rotation_04 {
	0% {-ms-transform: rotate(360deg);}
	100% {-ms-transform: rotate(0deg);}
}
@-o-keyframes rotation_04 {
	0% {-o-transform: rotate(360deg);}
	100% {-o-transform: rotate(0deg);}
}
@keyframes rotation_04 {
	0% {transform: rotate(360deg);}
	100% {transform: rotate(0deg);}
}

