@charset 'UTF-8';
/* -----------------------------------------------------------------------
## variables #############################################################
----------------------------------------------------------------------- */
/* colors */
/* easings */
/* breakpoints */
/* -----------------------------------------------------------------------
## mixins ################################################################
----------------------------------------------------------------------- */
/* -----------------------------------------------------------------------
## Sanitize ##############################################################
----------------------------------------------------------------------- */
/*! sanitize.css v3.0.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */
audio:not([controls]) {
	display: none;
}

button {
	overflow: visible;
	-webkit-appearance: button;
}

details {
	display: block;
}

html {
	overflow-y: scroll;

	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-text-size-adjust: 100%;
}

input {
	-webkit-border-radius: 0;
}

input[type='button'],
input[type='reset'],
input[type='submit'] {
	-webkit-appearance: button;
}

input[type='number'] {
	width: auto;
}

input[type='search'] {
	-webkit-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

main {
	display: block;
}

pre {
	overflow: auto;
}

progress {
	display: inline-block;
}

small {
	font-size: 75%;
}

summary {
	display: block;
}

svg:not(:root) {
	overflow: hidden;
}

template {
	display: none;
}

textarea {
	overflow: auto;
}

[hidden] {
	display: none;
}

/*
 * Universal inheritance
 */
*,
::before,
::after {
	box-sizing: inherit;
}

* {
	font-size: inherit;
	line-height: inherit;
}

::before,
::after {
	vertical-align: inherit;
	text-decoration: inherit;
}

/*
 * Opinionated defaults
 */
*,
::before,
::after {
	border-width: 0;
	border-style: solid;
}

* {
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
}

:root {
	box-sizing: border-box;
	background-color: #fff;
	color: #333;
	font: 100%/1.5 sans-serif;
	cursor: default;
	font-family: "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
	/*  font-weight:500;*/
	text-rendering: optimizeLegibility;
}

a {
	text-decoration: none;
	color:#996600;
}

a:link {
	color:#996600;
}

a:hover {
	color:#cc9966;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

button,
input,
select,
textarea {
	background-color: transparent;
}

button,
input,
select,
textarea {
	color: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
}

button,
[type='button'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='reset'],
[type='search'],
[type='submit'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
select,
textarea {
	min-height: 1.5em;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
}

nav ol,
nav ul {
	list-style: none;
}

select {
		 -moz-appearance: none;
	-webkit-appearance: none;
}

select::-ms-expand {
	display: none;
}

select::-ms-value {
	color: currentColor;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

textarea {
	resize: vertical;
}

::-moz-selection {
	background-color: #b3d4fc;
	color: #fff;
	text-shadow: none;
}

::selection {
	background-color: #b3d4fc;
	color: #fff;
	text-shadow: none;
}

[aria-busy='true'] {
	cursor: progress;
}

[aria-controls] {
	cursor: pointer;
}

[aria-disabled] {
	cursor: default;
}

[hidden][aria-hidden='false'] {
	position: absolute;
	display: inherit;
	clip: rect(0 0 0 0);
}

[hidden][aria-hidden='false']:focus {
	clip: auto;
}

/* -----------------------------------------------------------------------
## Base ##################################################################
----------------------------------------------------------------------- */
* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	min-width: 960px;
	width: 100%;
}

body {
	background:url(../img/bg.jpg) repeat center top #F3E7D9;
	color: #333333;
	/*font: 16px/1.4 Verdana, Arial, 'メイリオ', Meiryo, 'ヒラギノ角ゴPro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;*/
}

body.top {
	background: #333;
	color: #fff;
	/*font: 16px/1.4 Verdana, Arial, 'メイリオ', Meiryo, 'ヒラギノ角ゴPro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;*/
}

* html body {
	font-size: small;
}

*:first-child + html body {
	font-size: small;
}

a {
	color: #fff;
	text-decoration: none;
}

a[target='_blank']:after {
	display: inline;
	content: ' \f08e';
	font-family: FontAwesome;
}

ul,
ol {
	list-style: none;
}

.clearfix:after {
	display: block;
	clear: both;
	content: '';
}

select:focus {
	outline: none;
}

/* sections */
/*.underlayer .section:first-child {
	padding-top: 190px;
}*/

.section {
	position: relative;
	overflow: hidden;
	padding: 0 0 64px 0;
	/* min-height: 900px; */
}

.sectionTitle {
	text-align: center;
	/*font-family: 'Archivo Black', sans-serif;*/
	font-weight: normal;
	font-size: 24px;
	font-size: 1.5rem;
	padding: 40px 0 28px;
}

.sectionSubTitle {
	padding: 40px 0 40px;
	text-align: center;
	font-weight: normal;
	font-size: 24px;
	font-size: 1.5rem;
	/* font-family: 'Archivo Black', sans-serif; */
	line-height: 1.2;
}

.sectionInner {
	position: relative;
	z-index: 1;
	margin: 0 auto;
	padding: 0;
	width: 960px;
	height: 100%;
	/*background: rgba(0, 0, 0, 0.75);*/
}

body.top .sectionInner {
	position: relative;
	z-index: 1;
	margin: 0 auto;
	padding: 32px 0px;
	width: 960px;
	height: 100%;
}

.section .contentsTitle {
	margin: 20px 0 30px;
	text-align: center;
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: normal;
}
.contentsTitle span {
	display: block;
	width: 60px;
	border-bottom: 5px solid #a28500;
	margin: 25px auto 0;
}

.section .bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 120%;
}

.section .bg img {
	position: relative;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
}
.hover:hover {
	opacity: 0.5;
	-webkit-transition: all 0.4s ease;
			transition: all 0.4s ease;
}
.fleft {
	float:left;
}

.fright {
	float:right;
}

.clear {
	clear:both;
}
.tc {
	text-align: center;
}
.fz12 {
	font-size: 0.75rem;
}
.fz14 {
	font-size: 0.875rem;
}
.bold { font-weight:bold;}
/*line-height*/
.boxText,
.textBody,
.txtBox,
.producerProf_body {
	line-height:2;	
}
.LH1_1 {
	line-height:1.1!important;
	}
.mt0 {margin-top:0!important;}
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px;}
.mt30 {margin-top:30px;}
.mt35 {margin-top:35px;}
.mt50 {margin-top:50px;}
.mt70 {margin-top:70px;}
.mt100 { margin-top: 100px;}
.ml5 {margin-left:5px;}
.ml10 {margin-left:10px;}
.ml15 {margin-left:15px;}
.ml20 {margin-left:20px;}
.ml25 {margin-left:25px;}
.ml30 {margin-left:30px;}
.ml35 {margin-left:35px;}
.ml50 {margin-left:50px;}
.mr5 {margin-right:5px;}
.mr10 {margin-right:10px;}
.mr15 {margin-right:15px;}
.mr20 {margin-right:20px;}
.mr25 {margin-right:25px;}
.mr30 {margin-right:30px;}
.mr35 {margin-right:35px;}
.mr50 {margin-right:50px;}
.mb0 {margin-bottom:0!important;}
.mb5 {margin-bottom:5px;}
.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.mb25 {margin-bottom:25px;}
.mb30 {margin-bottom:30px;}
.mb35 {margin-bottom:35px;}
.mb50 {margin-bottom:50px;}
.mb70 {margin-bottom:70px;}
.mb100 {margin-bottom:100px;}

/*------------------------------------------------------------
padding
------------------------------------------------------------*/

.pt0   {padding-top: 0     !important}
.pt5   {padding-top: 5px   !important}
.pt10  {padding-top: 10px  !important}
.pt15  {padding-top: 15px  !important}
.pt20  {padding-top: 20px  !important}
.pt25  {padding-top: 25px  !important}
.pt30  {padding-top: 30px  !important}
.pt35  {padding-top: 35px  !important}
.pt40  {padding-top: 40px  !important}
.pt45  {padding-top: 45px  !important}
.pt50  {padding-top: 50px  !important}
.pt55  {padding-top: 55px  !important}
.pt60  {padding-top: 60px  !important}
.pt65  {padding-top: 65px  !important}
.pt70  {padding-top: 70px  !important}
.pt75  {padding-top: 75px  !important}
.pt80  {padding-top: 80px  !important}
.pt85  {padding-top: 85px  !important}
.pt90  {padding-top: 90px  !important}
.pt95  {padding-top: 95px  !important}
.pt100 {padding-top: 100px !important}
.pt105 {padding-top: 105px !important}
.pt110 {padding-top: 110px !important}
.pt115 {padding-top: 115px !important}
.pt120 {padding-top: 120px !important}
.pt125 {padding-top: 125px !important}
.pt130 {padding-top: 130px !important}
.pt135 {padding-top: 135px !important}
.pt140 {padding-top: 140px !important}
.pt145 {padding-top: 145px !important}
.pt150 {padding-top: 150px !important}


.pr0   {padding-right: 0     !important}
.pr5   {padding-right: 5px   !important}
.pr10  {padding-right: 10px  !important}
.pr15  {padding-right: 15px  !important}
.pr20  {padding-right: 20px  !important}
.pr25  {padding-right: 25px  !important}
.pr30  {padding-right: 30px  !important}
.pr35  {padding-right: 35px  !important}
.pr40  {padding-right: 40px  !important}
.pr45  {padding-right: 45px  !important}
.pr50  {padding-right: 50px  !important}
.pr55  {padding-right: 55px  !important}
.pr60  {padding-right: 60px  !important}
.pr65  {padding-right: 65px  !important}
.pr70  {padding-right: 70px  !important}
.pr75  {padding-right: 75px  !important}
.pr80  {padding-right: 80px  !important}
.pr85  {padding-right: 85px  !important}
.pr90  {padding-right: 90px  !important}
.pr95  {padding-right: 95px  !important}
.pr100 {padding-right: 100px !important}
.pr105 {padding-right: 105px !important}
.pr110 {padding-right: 110px !important}
.pr115 {padding-right: 115px !important}
.pr120 {padding-right: 120px !important}
.pr125 {padding-right: 125px !important}
.pr130 {padding-right: 130px !important}
.pr135 {padding-right: 135px !important}
.pr140 {padding-right: 140px !important}
.pr145 {padding-right: 145px !important}
.pr150 {padding-right: 150px !important}


.pb0   {padding-bottom: 0     !important}
.pb5   {padding-bottom: 5px   !important}
.pb10  {padding-bottom: 10px  !important}
.pb15  {padding-bottom: 15px  !important}
.pb20  {padding-bottom: 20px  !important}
.pb25  {padding-bottom: 25px  !important}
.pb30  {padding-bottom: 30px  !important}
.pb35  {padding-bottom: 35px  !important}
.pb40  {padding-bottom: 40px  !important}
.pb45  {padding-bottom: 45px  !important}
.pb50  {padding-bottom: 50px  !important}
.pb55  {padding-bottom: 55px  !important}
.pb60  {padding-bottom: 60px  !important}
.pb65  {padding-bottom: 65px  !important}
.pb70  {padding-bottom: 70px  !important}
.pb75  {padding-bottom: 75px  !important}
.pb80  {padding-bottom: 80px  !important}
.pb85  {padding-bottom: 85px  !important}
.pb90  {padding-bottom: 90px  !important}
.pb95  {padding-bottom: 95px  !important}
.pb100 {padding-bottom: 100px !important}
.pb105 {padding-bottom: 105px !important}
.pb110 {padding-bottom: 110px !important}
.pb115 {padding-bottom: 115px !important}
.pb120 {padding-bottom: 120px !important}
.pb125 {padding-bottom: 125px !important}
.pb130 {padding-bottom: 130px !important}
.pb135 {padding-bottom: 135px !important}
.pb140 {padding-bottom: 140px !important}
.pb145 {padding-bottom: 145px !important}
.pb150 {padding-bottom: 150px !important}


.pl0   {padding-left: 0     !important}
.pl5   {padding-left: 5px   !important}
.pl10  {padding-left: 10px  !important}
.pl15  {padding-left: 15px  !important}
.pl20  {padding-left: 20px  !important}
.pl25  {padding-left: 25px  !important}
.pl30  {padding-left: 30px  !important}
.pl35  {padding-left: 35px  !important}
.pl40  {padding-left: 40px  !important}
.pl45  {padding-left: 45px  !important}
.pl50  {padding-left: 50px  !important}
.pl55  {padding-left: 55px  !important}
.pl60  {padding-left: 60px  !important}
.pl65  {padding-left: 65px  !important}
.pl70  {padding-left: 70px  !important}
.pl75  {padding-left: 75px  !important}
.pl80  {padding-left: 80px  !important}
.pl85  {padding-left: 85px  !important}
.pl90  {padding-left: 90px  !important}
.pl95  {padding-left: 95px  !important}
.pl100 {padding-left: 100px !important}
.pl105 {padding-left: 105px !important}
.pl110 {padding-left: 110px !important}
.pl115 {padding-left: 115px !important}
.pl120 {padding-left: 120px !important}
.pl125 {padding-left: 125px !important}
.pl130 {padding-left: 130px !important}
.pl135 {padding-left: 135px !important}
.pl140 {padding-left: 140px !important}
.pl145 {padding-left: 145px !important}
.pl150 {padding-left: 150px !important}



#pageTop {
	background: rgba(102, 102, 102, 1.0) none repeat scroll 0 0;
	font-size: 2rem;
	width: 60px;
	height: 60px;
	line-height: 60px;
	bottom: 10px;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	opacity: 0.7;
	position: fixed;
	right: 6px;
	text-align: center;
	text-decoration: none;
	z-index: 10;
}
#pageTop i {
	/*margin-right: 5px;*/
}
#pageTop:hover {
	/*background-color: #dc2d66;*/
	opacity: 1;
	text-decoration: none;
	color: #cc9966;
}

@media screen and (min-width: 769px){
:root {
	font-size: 100%;
	line-height: 1.5;
}
body {
	line-height: 2;
}

.contents {
	padding: 20px 0 100px;
	border-top: 1px solid #ccc;
	clear: both;
}
.contents > div {
	width: 960px;
	margin: 0 auto;
}
}

@media screen and (max-width: 768px) {
:root {
	font-size: 87.5%;
	line-height: 1.7;
}
	
html,
body {
	margin: 0;
	padding: 0;
	min-width: 0;
	width: 100%;
	color:#000000;
	/*	font-size: 87.5%;
	line-height: 1.7;*/
}
.section {
	position: relative;
	min-height: 0;
	height: auto;
}
.sectionInner,
.contents {
	/*padding: 16px 10px 32px;*/
	padding: 0 10px;
	width: 100%;
}
.sectionTitle {
	font-size: 1.785rem;
	padding: 23% 0 22px;
	line-height:1;
}
.section .contentsTitle {
	text-align: left;
	position: relative;
	padding-bottom: 5px;
	margin: 0 0 15px;
	font-size: 1.28rem;
	font-weight: bold;
	line-height: 1.4;
	border-bottom: 3px solid #aaa;
}
.section .contentsTitle:after {
	position: absolute;
	bottom: -3px;
	left: 0;
	z-index: 2;
	content: '';
	width: 50%;
	height: 3px;
	background-color: #a28500;
}
.section .contentsTitle span {
	display: none;
}
.sectionSubTitle {
	padding: 24% 10px 22px;
	font-size: 1.785rem;
}
#pageTop:hover {
	color: #FFF;
}
}


/* -----------------------------------------------------------------------
## Header ################################################################
----------------------------------------------------------------------- */
/* ################# Toplayer #################  */

@media screen and (max-width: 768px) {
.menuBtn {
	position: fixed;
	top: 6px;
	right: 6px;
	z-index: 9999;
	display: block;
	width: 44px;
	height: 44px;
	border-radius: 3px;
	/*background: rgba(255, 255, 255, 0.5);*/
	text-align: center;
	font-size: 2rem;
	line-height: 44px;
}

}

/* ################# Underlayer ################# */
.underlayerHeader {
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9999;
	margin: 0 auto;
	width: 960px;
}

.underlayerHeader .titleBox {
	padding: 8px;
	/*height: 95px;*/
}

.underlayerHeader .siteName {
	float: left;
	font-size: 14px;
	font-size: 0.75rem;
	font-weight: normal;
	line-height: 180%;
}

.underlayerHeader .logo {
	margin: 0 auto;
	width: 140px;
}

.underlayerHeader .btnBox {
	position: absolute;
	top: 32px;
	right: 0;
	display:flex;
	display:-webkit-flex;
}

.underlayerHeader .btnBox .snsBtns {
	/* position: absolute;
	top: 8px;
	right: 0;*/
	margin-right:5px;
}

.underlayerHeader .btnBox .snsBtns_item {
	margin: 0;
}

.underlayerHeader .btnBox .snsBtns_item a {
	width: 30px;
	height: 30px;
	background:#666;
}

.underlayerHeader .btnBox .snsBtns_item .fa {
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 30px;
	color:#ffffff;
}

/* 言語選択 */
.language{
	*zoom: 1;
	list-style-type: none;
	width: 110px;
	height:30px;
	border-radius: 1000px;
}
.language:hover{
}
.language li{
	position: relative;
	margin: 0;
	padding: 0;
}
.language li a{
	box-sizing:border-box;
	display: block;
	margin: 0;
	padding: 8px 0 5px 0;
	background: #666;
	color: #fff;
	font-size: 13px;
	line-height: 1;
	text-decoration: none;
	width: 110px;
	height: 30px;
	text-align: center;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
}
.language li a:hover{
	-webkit-border-radius: 15px 15px 0 0;
	border-radius: 15px 15px 0 0;
}
.language li ul{
	list-style: none;
	position: absolute;
	z-index: 9999;
	top: 100%;
	left: 0;
	margin: 0;
	padding: 0;
}
.language li ul li{
	width: 110px;
	overflow: hidden;
	height: 0;
	transition: .2s;
}
.language li ul li a{
	text-align: center;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.language li ul li a:hover{
	-webkit-border-radius: 0;
	border-radius: 0;
}
.language li ul li:last-child a{
	-webkit-border-radius: 0 0 15px 15px;
	border-radius: 0 0 15px 15px;
}
.language li a span {
	margin-right:3px;
	/*position:absolute;
	left:11px;
	top:8px;*/
}
.language li ul li .fa {
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 30px;
	color:#ffffff;
	margin-left:65px;
}

.language > li > a{
	background: #666 url("../img/gnavi/arrow_lang.png") no-repeat 90% center;
	padding-right: 4px;
}
.language li:hover > a{
	opacity: 0.7;
}
.language li:first-child:hover > a{
	opacity: 0.7;
}
.language > li:first-child:hover > a{
	-webkit-border-radius: 15px 15px 0 0;
	border-radius: 15px 15px 0 0;
}
.language li a:hover{

}
.language li:hover ul li{
	overflow: visible;
	height: 30px;
}
/* 言語選択_end */

.top .underlayerHeader .btnBox .snsBtns_item .fa {
	color:#333333;
}

.pageFooter .btnBox .snsBtns_item .fa {
	color:#333333;
}

.underlayerHeader .gNavi {
	/*height: 48px;*/
}

.underlayerHeader .gNaviList_item {
	display: inline-block;
	margin: 00;
	/*width: 192px;*/
	width: 176px;
	background: rgba(0, 0, 0, 0.75);
	float: left;
}

.underlayerHeader .gNaviList_item:first-child {
	margin-left: 0;
}

.underlayerHeader .gNaviList_item:nth-child(4) {
	/*width: 30%;*/
}

.underlayerHeader .gNaviList .active {
	background: rgba(255, 255, 255, 0.75);
}

.underlayerHeader .gNaviList .active a {
	color: #cc9966;
}

.underlayerHeader .gNaviList a {
	display: block;
	/*padding: 0 10px;*/
	/*border: 2px solid #fff;*/
	border-radius: 0;
	text-align: center;
}
.underlayerHeader.float .gNavi {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	border-bottom: 1px solid #a28500;
	/*box-shadow: 0px 5px 3px -3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 5px 3px -3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 5px 3px -3px rgba(0,0,0,0.1);*/
}

.underlayerHeader.float .gNaviList_item {
	float: left;
	margin: 0;
	/* width: 17.5%;*/
	/*width: 20%;*/
}

.underlayerHeader.float .gNaviList a {
	border: none;
	/*border-left: 1px solid #333;*/
}
.underlayerHeader.float .gNaviList div.gNaviList_ul_box {
	width: 100%;
	margin: auto;
	left: 0;
	right: 0;
	position: fixed;
}

.underlayerHeader.float .gNaviList_item:first-child a {
	border-left: none;
}

.underlayerHeader.float .gNaviList_item:nth-child(4) {
	/* width: 30%;*/
}

#fixedNav {
	position:fixed;
	top:309px;
	right:0;
	z-index:3;
	display:none;

	width:50px;
	height:160px;
}
#fixedNav a {
	display:block;
	background:#A28500;
	text-align:center;
	padding:21px 0;
	border-radius:4px 0 0 4px;
}
#fixedNav a:hover {
	background:#8a7200;
}
@media screen and (max-width: 768px) {
#fixedNav {
	display:none !important;
}
}


/*PCのみの指定*/
@media screen and (min-width: 769px) {
.underlayerHeader .siteName {
	padding-top: 25px;
}
.underlayerHeader.float .titleBox {
	margin-bottom: 66px;
}
.pc_none {
	display:none!important;
}
.underlayerHeader.float .gNavi {
	background-color:#FFF;	
}
.underlayerHeader .gNaviList_item:first-child {
	width:80px;
}

}
/*PCのみの指定_end*/

@media screen and (max-width: 768px) {
.pageHeader,
.underlayerHeader {
	width: 100%;
	border-bottom:solid 1px #cccccc;
	position: fixed;
	background: #FFF;
}
.pageHeader .titleBox,
.underlayerHeader .titleBox {
	/*display: block;*/
	display: flex;
	justify-content:flex-start;
	margin-bottom: 0;
	height: auto;
}
.pageHeader .siteName,
.underlayerHeader .siteName {
	/*float: right;
	padding-top: 8px;*/
	padding-right: 55px;
	font-size: 0.75rem;
	order:2;
	position: absolute;
	top: 20%;
	font-weight: normal;
	left:25%;
}
.pageHeader .logo,
.underlayerHeader .logo {
	/*float: left;*/
	width:20%;
	order:1;
	margin-left:0;
}
.pageHeader .snsBtns,
.underlayerHeader .snsBtns {
	position: static;
	clear: both;
	padding: 46px 0 20px 0;
}
.pageHeader .language,
.underlayerHeader .language {
	position: static;
	clear: both;
	padding-top: 46px;
	width:20%;
}
.pageHeader .btnBox,
.underlayerHeader .btnBox {
	position: absolute;
	top: 8px;
	right: 10px;
	display:flex;
}
.underlayerHeader .gNavi {
/*	position: relative;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	z-index: 200;
	width: 100%;
	-webkit-transition: -webkit-transform 0.75s cubic-bezier(0.23, 1, 0.32, 1);
	transition: transform 0.75s cubic-bezier(0.23, 1, 0.32, 1);
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);*/
}
.underlayerHeader.float .gNavi {
	/*top: 56px;*/
	/*left: 100%;*/
	/*overflow: auto;*/
}
.pageHeader.float .gNaviList_item,
.underlayerHeader.float .gNaviList_item {
	float: none;
	width: 100%;
}
.pageHeader.float .gNaviList_item:nth-child(4),
.underlayerHeader.float .gNaviList_item:nth-child(4) {
	width: 100%;
}
.pageHeader .gNaviList,
.underlayerHeader .gNaviList {
	display: block;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 85%;
}
.underlayerHeader ul.gNaviList.pc_none {
	border-top: none;
}
.pageHeader .gNaviList_item,
.underlayerHeader .gNaviList_item {
	float: none;
	margin: 0;
	padding: 0;
	width: 100%;
	/* background: rgba(255, 255, 255, 0.75); */
	background-color:#000;
	text-align: left;
	font-weight: bold;
}
.underlayerHeader .gNaviList_item.open {
	background-color:#000;
}
.pageHeader .gNaviList:first-child,
.underlayerHeader .gNaviList:first-child {
	border: none;
}
.pageHeader .gNaviList:nth-child(2),
.underlayerHeader .gNaviList:nth-child(2) {
	border-top: 1px solid #444;
}
.pageHeader .gNaviList:first-child p,
.underlayerHeader .gNaviList:first-child p {
	border-top: 1px solid #444;
	margin-bottom: 0;
}
.pageHeader .gNaviList_item:nth-child(4)
.underlayerHeader .gNaviList_item:nth-child(4) {
	width: 100%;
}
.pageHeader .gNaviList a,
.underlayerHeader .gNaviList a {
	width: 100%;
	border: none;
	color: #281f1c;
	text-align: left;
	font-weight: normal;
	font-size: 0.75rem;
}
.underlayerHeader .gNavi {
	/*display: none;*/
}
.onMenu_s .underlayerHeader .gNavi {
	/*-webkit-transform: translate(-100%, 0);*/
	/*transform: translate(-100%, 0);*/
	display: block;
	height: 100%;
	overflow: auto;
}
.mainContents {
}
.sp_none {
	display:none!important;
}
}

/* ################# Breadcrumbs ################# */
.breadcrumbs {
	margin: 0 auto;
	width: 960px;
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: normal;
	position:relative;
	z-index:1;
}

.breadcrumbs li {
	display: inline-block;
}

.breadcrumbs li:after {
	margin-right: 0.3em;
	margin-left: 0.5em;
	content: '>';
}

.breadcrumbs li:last-child:after {
	content: '';
}

.breadcrumbs li i {
	font-size:0.92rem
}

.breadcrumbs li a {
	color: #996600;
}

.breadcrumbs li a:hover {
	color: #cc9966;
}

/* add */
.breadcrumbs span a {
	color:#996600;
}
.breadcrumbs > span:after {
	padding:0 5px;
	content: '>';
}
.breadcrumbs > span:last-child:after {
	content: '';
}
.breadcrumbs a:hover span {
	text-decoration:underline;
}

@media screen and (max-width: 768px) {
.breadcrumbs {
	/*padding: 0 8px;*/
	position:absolute;
	top:76px;
	left:8px;
	width: auto;
}
}

/* -----------------------------------------------------------------------
## Footer ################################################################
----------------------------------------------------------------------- */
.pageFooter {
	position:relative;
	z-index:1;
	background: #333333;
	color:#ffffff;
	margin-top:100px;
}

.footerInner {
	margin: 0 auto;
	padding: 48px 0 150px;
	width: 960px;
	-webkit-transition: -webkit-filter 0.8s ease, -webkit-transform 0.8s ease;
	transition: -webkit-filter 0.8s ease, transform 0.8s ease;
}

.footerInner a:link {
	color:#fff;
}
.footerInner a:hover {
	color:#666;
}

.footerInner .logo {
	float: left;
	margin: 0 45px 0 0;
	width: 167px;
}

.footerInner .logo img {
	width: 100%;
}

.footerInner .contact {
	float: left;
	padding: 4px 0;
}
.footerInner .contact li {
	/*margin-bottom: 7px;}*/
}
.footerInner .contact li.icofootTEL,
.footerInner .contact li.icofootFAX,
.footerInner .contact li.icofootMAIL {
	padding-left:32px;
}
.footerInner .contact li.icofootTEL {
	background:url(../img/footer/ico_tel.png) left center no-repeat;
	background-size:14px 14px;
}
.footerInner .contact li.icofootFAX {
	background:url(../img/footer/ico_fax.png) left center no-repeat;
	background-size:15px 15px;
}
.footerInner .contact li.icofootMAIL {
	background:url(../img/footer/ico_mail.png) left center no-repeat;
	background-size:14px 10px;
}
.footerInner .contact li span {
	font-size:14px;
}
.footerInner .snsBtns {
	float: right;
}
.footerInner .snsBtns_item {
	margin: 0;
	margin-left:0 0 0 7px;
}

.footerInner .snsBtns_item a {
	width: 30px;
	height: 30px;
	background:#666;
}

.footerInner .snsBtns_item .fa {
	font-size: 16px;
	font-size: 1.125rem;
	line-height: 30px;
	color:#333333;
}

.footerInner .footerNavi {
	margin:50px 0;
	/*margin: 8px 0 0;*/
	border-left: 1px solid #666;
	display:flex;
}

.footerInner .footerNavi_box {
	float: left;
	padding: 0 0 0 15px;
	width: 137px;
	border-right: 1px solid #666;
}

.footerInner .footerNavi_title {
	font-weight: bold;
	font-size:0.75rem;
	padding-bottom:10px;
	margin-top: -0.5em;
	background:url(../img/footer/hr_footer.gif) left bottom no-repeat;
}
.footerInner .footerNavi_list {
	padding-top:14px;
}
.footerInner .footerNavi_list_item {
	margin: 0 0 12px 0;
	font-size:0.75rem;
	line-height: 1.2;
	/* font-size: 11px;
	font-size: 0.6875rem;*/
}
.footerInner .footerNavi a {
	display: block;
}
.footerInner .footerNavi a:hover {
	/*text-decoration: underline;*/
}

@media screen and (max-width: 768px) {
.footerInner {
	padding: 35px 10px 60px 10px;
	width: auto;
	-webkit-transition: -webkit-filter 0.8s ease, -webkit-transform 0.8s ease;
	transition: -webkit-filter 0.8s ease, transform 0.8s ease;
}
.footerInner .logo {
	float: none;
	margin: 0 auto;
	padding: 0 10px;
	width: 121px;
}
.footerInner .logo img {
	width: 100%;
}
.footerInner .contact {
	float: none;
	padding: 16px 10px 0;
	font-size: 0.875rem;
}
.footerInner .contact li span {
	font-size:12px;
}
.footerInner .snsBtns {
	float: none;
	padding: 1em 10px;
	text-align: center;
}
.footerInner .snsBtns_item a {
	width: 44px;
	height: 44px;
}
.footerInner .snsBtns_item .fa {
	font-size: 1.5rem;
	line-height: 44px;
}
.footerInner .footerNavi {
	/*margin: 8px 0 0;
	border-top: 1px solid #fff;
	border-left: none;*/
	display:none;
}
.footerInner .snsBtns_item a {
	background:#FFF;
	color:#333333;
}
}

/* -----------------------------------------------------------------------
## Modules ###############################################################
----------------------------------------------------------------------- */
/* -----------------------------------------------------------------------
## Button styles #########################################################
----------------------------------------------------------------------- */
.snsBtns {
	text-align: center;
}

.snsBtns_item {
	display: inline-block;
	margin: 0 5px;
}

.snsBtns_item a {
	position: relative;
	display: inline-block;
	width: 44px;
	height: 44px;
	border-radius: 1000px;
	background: #fff;
	color: #281f1c;
	text-align: center;
	font-size: 20px;
	font-size: 1.25rem;
	line-height: 1;
}

.snsBtns_item .fa {
	font-size: 26px;
	font-size: 1.625rem;
	line-height: 44px;
}

/* -----------------------------------------------------------------------
## Acordion Styles ##########################################################
----------------------------------------------------------------------- */
/*faqアコーディオン*/
.qaBox_list dt{
	display:block;
	line-height:50px;
	cursor:pointer;
	border-top: 1px solid #a28500;
	color: #960;
	background: url("../img/ico_arrow_down.png") no-repeat 98% center;
}
.qaBox_list dt.dd_open{
	background: url("../img/ico_arrow_up.png") no-repeat 98% center;
}
.qaBox_list dd{
	line-height:32px;
	display:none;
}
.qaBox_list {
	border-bottom: 1px solid #a28500;
}

/*ONLY PC*/
@media screen and (min-width: 769px) {

.faq .qaBox_list {
	font-size: 1.0rem;
}
.faq .qaBox_list_q {
	float: left;
	clear: both;
	padding: 10px 16px 10px 0;
	width: 100%;
	text-align: left;
}
.faq .qaBox_list_q:hover {
	opacity: 0.5;
	-webkit-transition: all 0.4s ease;
			transition: all 0.4s ease;
}
.faq .qaBox_list_a {
	float: right;
	padding: 0 0 36px 0;
	width: 100%;
	text-align: left;
	/*border-top: 1px solid #fff;*/
}

}

/*ONLY SP*/
@media screen and (max-width: 768px) {
.faq .categoryList {
	margin-left: -8px;
}
.faq .categoryList_item {
	margin-left: 8px;
}
.faq .qaBox {
	margin: 16px 0;
}
.faq .qaBox_list {
}
.faq .qaBox_list dt {
	margin: 0;
	padding: 15px 40px 15px 0;
	line-height: 1.8;
	background-size: 20px auto;
}
.faq .qaBox_list dd {
	text-align: left;
	margin: 0;
	padding-bottom: 15px;
	line-height: 1.7;
}
}
/* -----------------------------------------------------------------------
## Ancor Styles ##########################################################
----------------------------------------------------------------------- */
a.ani-uLine:hover {
	text-decoration: underline;
}

a.ani-opacity {
	-webkit-transition: opacity 0.4s ease;
			transition: opacity 0.4s ease;
}

a.ani-opacity:hover {
	opacity: 0.7;
}

a.ani-uBar {
	position: relative;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

a.ani-uBar:after {
	position: absolute;
	right: 0;
	bottom: -2px;
	left: 0;
	display: inline-block;
	margin: auto;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.2s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
			transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
	-webkit-transform: scale(0, 1);
			transform: scale(0, 1);
}

a.ani-uBar:hover:after {
	-webkit-transform: scale(1, 1);
			transform: scale(1, 1);
}

a.ani-reverseBtn {
	position: relative;
	display: inline-block;
	/*padding: 0 20px 0 20px;*/
	border-radius: 1000px;
	background: #FFF;
	color: #333;
	text-align: center;
	line-height: 35px;
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
}

a.ani-reverseBtn:hover {
	background: #333;
	color:#FFF;
	/* color: #cc9966;
	border-bottom: 5px solid #a28500; */
}

@media screen and (max-width: 768px) {
a.ani-uBar {
	position: relative;
	display: block;
	padding: 14px 10px;
	text-shadow: none;
	font-weight: normal;
	font-size: 0.875rem;
}
a.ani-uBar:after {
	display: none;
}
a.ani-uBar:hover:after {
	-webkit-transform: none;
			transform: none;
}
}

/* -----------------------------------------------------------------------
## visualBox #############################################################
----------------------------------------------------------------------- */
.visualBox_title {
	text-align: center;
	font-size: 40px;
	font-size: 2.5rem;
	font-family: 'Archivo Black', sans-serif;
}

.visualBox_img {
	margin-top: 16px;
}

.visualBox_img img {
	width: 100%;
	height: auto;
}

.visualBox_copy {
	margin-top: 16px;
	font-size: 24px;

	font-size: 1.5rem;
}

.visualBox_text {
	margin-top: 16px;
}

@media screen and (max-width: 768px) {
.visualBox_copy {
	font-size: 1rem;
}
.visualBox_text {
	font-size: 0.875rem;
}
}

/* -----------------------------------------------------------------------
## slick setting #########################################################
----------------------------------------------------------------------- */
.box:focus {
	outline: none;
}

.slick-prev,
.slick-next
{
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.slick-prev,
	.slick-next {
		display:none!important;
}
}

/* -----------------------------------------------------------------------
## columns ###############################################################
----------------------------------------------------------------------- */
.col2Box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: -48px;
}

.col2Box_item {
	margin-left: 48px;
	-webkit-box-flex: 1;
			-ms-flex: 1;
				flex: 1;
}

.col3Box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: -32px;
}

.col3Box_item {
	margin-left: 32px;
	-webkit-box-flex: 1;
			-ms-flex: 1;
				flex: 1;
}

.col4Box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: -16px;
}

.col4Box_item {
	margin-left: 16px;
	-webkit-box-flex: 1;
			-ms-flex: 1;
				flex: 1;
}

@media screen and (max-width: 768px) {
.col2Box {
	display: block;
	margin-left: 0;
}
.col2Box_item {
	margin-left: 0;
}
.col3Box {
	display: block;
	margin-left: 0;
}
.col3Box_item {
	margin-left: 0;
}
.col4Box {
	display: block;
	margin-left: 0;
}
.col4Box_item {
	margin-left: 0;
}
}

/* -----------------------------------------------------------------------
## mainSubBox ############################################################
----------------------------------------------------------------------- */
.mainSubBox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.mainSubBox_main {
	-webkit-box-flex: 4;
			-ms-flex: 4;
				flex: 4;
}

.mainSubBox_sub {
	-webkit-box-flex: 1;
			-ms-flex: 1;
				flex: 1;
}

@media screen and (max-width: 768px) {
.mainSubBox {
	display: block;
}
.mainSubBox_main {
	-webkit-box-flex: 4;
			-ms-flex: 4;
				flex: 4;
}
.mainSubBox_sub {
	-webkit-box-flex: 1;
			-ms-flex: 1;
				flex: 1;
}
}

/*▽モーダルウィンドウ*/
.wrapModal {
	position: relative;
	background-color: rgba(255,255,255,0.8)!important;
}
.modal-content {
	overflow: hidden;
}
@media screen and (min-width: 769px){
.modal-content {
	width: 960px;
	margin: 100px auto;
	padding-top: 50px;
	position: relative;
}
.modal-content .img {
	width: 450px;
	float: left;
}
.modal-content .img p {
	font-size: 10px;
	margin-top: 8px;
}
.modal-content .rightBox {
	width: 450px;
	margin-left: 60px;
	float: right;
}
.modal-content h2 {
	font-size: 24px;
	text-align: center;
	font-weight: normal;
}
.modal-content h3 {
	font-size: 16px;
	text-align: center;
	font-weight: normal;
	margin-top: 28px;
}
.modal-content h3 span {
	width: 60px;
	border-bottom: 5px solid #a28500;
	display: block;
	margin: 30px auto;
}
.modal-content p {
	margin-bottom: 25px;
	font-weight: normal;
}
.modal-content a.btn {
	background: #fff;
	color: #996600;
	display: block;
	text-align: center;
	padding: 25px 0;
	border: 1px solid #a28500;
	border-radius: 5px;
}
#btn-close-modal {
	position: absolute;
	top: 0;
	right: 0;
	cursor:pointer;	
}
}
@media screen and (max-width: 768px) {
.modal-content {
	width: 100%;
	padding: 50px 4%;
	margin-top: 20px;
	position: relative;
}
.modal-content .img img {
	width: 100%;
}
.modal-content .img p {
	font-size: 0.8rem;
	margin-top: 10px;
}
.modal-content h2 {
	font-size: 1.8rem;
	text-align: center;
	font-weight: normal;
}
.modal-content h3 {
	font-size: 1.2rem;
	text-align: center;
	font-weight: normal;
	margin-top: 20px;
}
.modal-content h3 span {
	width: 60px;
	border-bottom: 5px solid #a28500;
	display: block;
	margin: 25px auto;
}
.modal-content p {
	margin-bottom: 25px;
	font-weight: normal;
}
.modal-content a.btn {
	background: #fff;
	color: #996600;
	display: block;
	text-align: center;
	padding: 25px 0;
	border: 1px solid #a28500;
	border-radius: 5px;
}
#btn-close-modal {
	width: 25px;
	position: absolute;
	top: 0;
	right: 4%;
}
#btn-close-modal img {
	width: 100%;
}
}
/*△モーダルウィンドウここまで*/

/*▽navi*/
.navi a {
	border: 1px solid #fff;
	color: #996600;
	padding: 0;
	font-size: 1.14rem;
	font-weight: bold;
}
.navi a:hover {
	color: #cc9966;
}
.navi .prev {
	float: left;
}
.navi .next {
	float: right;
}
.navi .select {
	text-align: center;
}
.navi .selectWrapper {
	position: relative;
	display: inline-block;
	border:none;
	background-color:#a28500!important;
	background-size: 7px 6px;
	color:#FFF;
	border-radius:100px;
	line-height:30px;
	z-index:3;
}
.navi .selectWrapper select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
	z-index: 2;
	padding:0;
	width:300px;
	text-align:center;
	border-radius:100px;
}
.navi .selectWrapper select,
.navi .selectWrapper option {
	text-align: left;
	padding-left: 38%;
}
.navi .selectWrapper select option {
	text-align: left;
	background:#a28500!important;
}
.navi .selectWrapper select option:hover {
	background:#3399FF!important;
	color:#FFF;
}
@media screen and (min-width: 769px){
.navi {
	margin: 0 auto;
}
.navi .prev,
.navi .next {
	margin-top: -32px;
}
.navi .select {
	padding:10px;
}
}
@media screen and (max-width: 768px) {
.navi {
	display: flex;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.navi .select,
.navi .selectWrapper,
.navi .selectWrapper select {
	width: 100%;
	display: block;
}
.navi .selectWrapper select,
.navi .selectWrapper option {
	text-align: left;
	padding-left: 5%;
	font-size: 1.14rem;
}
.navi .next,
.navi .prev {
	margin-top: 10px;
}
}
/*--△navi--*/

/*# sourceMappingURL=maps/style.css.map */


/* edit */
a[target='_blank']:after {
	display: inline;
	content: '';
	font-family: FontAwesome;
}

/* -----------------------------------------------------------------------
## Single ##############################################################
----------------------------------------------------------------------- */
.single .back_home {
	display:block;
	width: 100%;
	border: 1px solid #333;
	padding: 30px 0;
	margin-top: 60px;
	background: #FFF;
	color: #333;
	text-align:center;
	font-size: 1.14rem;
	border-radius: 5px;	
}
.single .back_home:hover {
	color: #FFF;
	background-color:#333;
	
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
.post_single_data  p {
  margin-top: 1.5em;
}
.post_single_data img {
	max-width:100%;
	height:auto;
}


@media screen and (min-width: 769px){
.post_single_wrap {
	margin-top:20px;	
}
.post_single_wrap .post_single_img {
	max-width:50%;
	float:left;
	margin:0 20px 20px 0;
}
.post_single_wrap .post_single_img img {
	width:100%;
	height:auto;
}
}
@media screen and (max-width: 768px) {
.post_single_wrap .post_single_img {
	width:100%;
	height:auto;
}
.post_single_wrap .post_single_img img {
	width:100%;
	height:auto;
	margin-bottom:20px;
}
.single .back_home {
	padding: 20px 0;
}
}

/* -----------------------------------------------------------------------
## 404 ##############################################################
----------------------------------------------------------------------- */
.error404 .back_home {
	display:block;
	width: 100%;
	border: 1px solid #333;
	padding: 30px 0;
	margin-top: 60px;
	background: #FFF;
	color: #333;
	text-align:center;
	font-size: 1.14rem;
	border-radius: 5px;	
}
.error404 .back_home:hover {
	color: #FFF;
	background-color:#333;
	
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
