/* -----------------------------------------------------------------------
## Login ###################################################################
----------------------------------------------------------------------- */
body {
	background:url(../img/bg.jpg) repeat;
}
.login h1 a {
	background-size: 260px auto;
	width: 280px;
	height: 190px;
}